<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366672570993-jrl5lg47nmc2b66ri5cs8gff528h5lsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366672570993-jrl5lg47nmc2b66ri5cs8gff528h5lsc</string>
	<key>API_KEY</key>
	<string>AIzaSyCLmtm6BB-EozvQvasrcNNTL4ZhyxcTGoM</string>
	<key>GCM_SENDER_ID</key>
	<string>366672570993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nakajimamasao.studyphonics</string>
	<key>PROJECT_ID</key>
	<string>studyphonics-app</string>
	<key>STORAGE_BUCKET</key>
	<string>studyphonics-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366672570993:ios:577058eec71fa2822b49d0</string>
</dict>
</plist>